<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#tab_001" aria-controls="tab_001" role="tab" data-toggle="tab">실시간 뉴스 토픽</a></li>
    <li role="presentation"><a href="#tab_002" aria-controls="tab_002" role="tab" data-toggle="tab">많이 본 뉴스:섹션</a></li>
    <li role="presentation"><a href="#tab_003" aria-controls="tab_003" role="tab" data-toggle="tab">많이 본 뉴스:성별</a></li>
    <li role="presentation"><a href="#tab_004" aria-controls="tab_004" role="tab" data-toggle="tab">많이 본 뉴스:연령별</a></li>
</ul>

<div class="tab-content" style="padding-top:4px;">
    <div role="tabpanel" class="tab-pane active" id="tab_001">
        <div class="col-sm-6">
            <h3>뉴스 토픽</h3>
            <table class="table table-hover" id="tbl_001" style="font-size:12px;font-family:굴림체;">
                <colgroup>
                    <col width="20"/>
                    <col width="40"/>
                    <col/>
                </colgroup>
                <tbody>
                {%  for row in data.topic %}
                {% if row.mode == 'news' %}
                    <tr>
                        <td><span class="rank_number">{{ row.rank }}</span></td>
                        <td><span class="rank_new">{{ row.new }}</span></td>
                        <td><a href="{{ row.url }}" target="_blank">{{ row.title }}</a></td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-sm-6">
            <h3>연애/스포츠</h3>
            <table class="table table-hover" id="tbl_001" style="font-size:12px;font-family:굴림체;">
                <colgroup>
                    <col width="20"/>
                    <col width="40"/>
                    <col/>
                </colgroup>
                <tbody>
                {%  for row in data.topic %}
                {% if row.mode == 'sports' %}
                    <tr>
                        <td><span class="rank_number">{{ row.rank }}</span></td>
                        <td><span class="rank_new">{{ row.new }}</span></td>
                        <td><a href="{{ row.url }}" target="_blank">{{ row.title }}</a></td>
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="tab_002">
        <table class="table table-bordered table-hover table-striped display compact" id="tbl_002" width="100%" style="font-size:12px;font-family:굴림체;">
            <colgroup>
                <col data-name="연령" width="70"/>
                <col data-name="순위" width="70"/>
                <col data-name="제목" />
                <col data-name="조회수" width="80"/>
                <col data-name="이미지" width="80"/>
            </colgroup>
            <thead>
                <tr>
                    <th>섹션</th>
                    <th>순위</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>이미지</th>
                </tr>
            </thead>
            <tbody>
            {%  for row in data.section %}
                {%  for rs in row.news %}
                <tr>
                    <td>{{ row.title }}</td>
                    <td>{{ rs.rank }}</td>
                    <td><a href="{{ rs.url }}" target="_blank">{{ rs.title }}</a></td>
                    <td>{{ rs.count }}</td>
                    <td><img src="{{ rs.img }}" height="30" width="30"></td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>섹션</th>
                    <th>순위</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>이미지</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="tab_003">
        <table class="table table-bordered table-hover table-striped" id="tbl_003" width="100%" style="font-size:12px;font-family:굴림체;">
            <colgroup>
                <col width="140"/>
                <col width="70"/>
                <col/>
                <col width="80"/>
                <col width="80"/>
            </colgroup>
            <thead>
                <tr>
                    <th>성별</th>
                    <th>순위</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>이미지</th>
                </tr>
            </thead>
            <tbody>
            {%  for row in data.sex %}
                {%  for rs in row.news %}
                <tr>
                    <td>{{ row.title }}</td>
                    <td>{{ rs.rank }}</td>
                    <td><a href="{{ rs.url }}" target="_blank">{{ rs.title }}</a></td>
                    <td>{{ rs.count }}</td>
                    <td><img src="{{ rs.img }}" height="30" width="30"></td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="tab_004">
        <table class="table table-bordered table-hover table-striped" id="tbl_004" width="100%" style="font-size:12px;font-family:굴림체;">
            <colgroup>
                <col data-name="연령" width="80"/>
                <col data-name="순위" width="70"/>
                <col data-name="제목" />
                <col data-name="조회수" width="80"/>
                <col data-name="이미지" width="80"/>
            </colgroup>
            <thead>
                <tr>
                    <th>연령</th>
                    <th>순위</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>이미지</th>
                </tr>
            </thead>
            <tbody>
            {%  for row in data.age %}
                {%  for rs in row.news %}
                <tr>
                    <td>{{ row.title }}</td>
                    <td>{{ rs.rank }}</td>
                    <td><a href="{{ rs.url }}" target="_blank">{{ rs.title }}</a></td>
                    <td>{{ rs.count }}</td>
                    <td><img src="{{ rs.img }}" height="30" width="30"></td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
$(document).ready(function() {
    $("#tbl_003,#tbl_004").DataTable({
        paging:false,
        //scrollY:400,
        searching: true,
        ordering: true,
        info: false
    });
    var tbl_002 = $("#tbl_002").DataTable({
        paging:false,
        //scrollY:400,
        searching: true,
        ordering: true,
        info: false
    });

    // 하단 조회
    $('#tbl_002 tfoot th').each( function () {
        var title = $(this).text();
        var width = 0;
        $.each($("#tbl_002 > colgroup > col"), function(idx, rs){
            rs = $(rs);
            if( rs.data('name') == title ) {
                width = rs.attr('width');
            }
        });
        if( "순위-제목".indexOf(title) > -1 ) {
            $(this).html( '<input type="text" style="width:'+width+'px" class="form-control input-sm" placeholder="'+title+'" />' );
        }
    });
    eval('tbl_002').columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that.search( this.value ).draw();
            }
        } );
    });
});

$("#div_time").text("{{ data.date }}".substring(0,19));

</script>
