{#
부트스트랩 컨포넌트
- https://getbootstrap.com/docs/3.3/javascript/
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>실시간 뉴스 목록</title>
    <link rel='stylesheet' href="/static/resources/bootstrap/css/bootstrap.min.css"/>
    <link rel='stylesheet' href="/static/resources/bootstrap/css/docs.min.css"/>
    <link rel='stylesheet' href="/static/resources/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel='stylesheet' href="/static/resources/select2/css/select2.min.css"/>
    <link rel='stylesheet' href="/static/resources/jsonView/jquery.jsonview.min.css"/>
    <link rel='stylesheet' href="/static/resources/datatables/datatables.min.css"/>
    <link rel='stylesheet' href="/static/css/style.css"/>
    <script type="text/javascript" src="/static/resources/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/resources/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/resources/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/static/resources/jsonView/jquery.jsonview.min.js"></script>
    <script type="text/javascript" src="/static/resources/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/static/util/crypto/sha256.js"></script>
    <script type="text/javascript" src="/static/util/crypto/base64.js"></script>
    <script type="text/javascript" src="/static/util/myUtil.js"></script>
</head>
<body class=" container-fluid" style="padding-top:10px;">
<div class="row">
    <div class="col-sm-3">
        <div id="div_menu">
            <div class="list-group">
                <a href="#" class="list-group-item active" onclick="location.reload()">웹 크롤러</a>
                <a href="#" class="list-group-item _mainMenu" onclick="myPage.view.daum()">다음 뉴스</a>
                <a href="#" class="list-group-item _mainMenu" onclick="myPage.view.naver()">네이버 뉴스</a>
            </div>
            <div id="div_time" align="center"></div>
        </div>
    </div>

    <div class="col-sm-9" style="" id="div_main">N/A</div>
</body>
</html>

<script>
var myPage = {
    init: function() {
        $("._mainMenu").on('click', function() {
            $("._mainMenu").attr("style","");
            $(this).attr("style","color:red;font-weight:bold;background-color:#F1F1F1");
        });
    }
    ,view: {
        naver: function() {
            myPage.view.reset("loadding...");
            $("#div_main").load("/crawler/naver");
        }
        ,daum: function() {
            myPage.view.reset("loadding...");
            $("#div_main").load("/crawler/daum/daum");
        }
        ,reset: function(str) {
            if( !str ) str = "N/A";
            $("#div_main").html(str);
        }
    }
};

$(document).ready(function() {
    myPage.init();
});
</script>